{% extends "base.html" %}

{% block content %}
<h1>User Signup</h1>

<form action="/signup" method='POST'>
    <p>
        <label for="username">
        Username
         <input id="username" type="text" name="username" value="{{ username }}" />
         <span class="error">{{ error_dict['username'] }}</span>
        </label>
    </p>

    <p>
        <label for="password">
            password
            <input id="password" type="password" name="password" />
            <span class="error">{{ error_dict['password'] }}</span>
        </label>
    </p>

    <p>
        <label for="verifypassword">
            Verify Password
            <input id="verifypassword" type="password" name="verifypassword" />
            <span class="error">{{ error_dict['verifypassword'] }}</span>
        </label>
    </p>

    <p>
        <label for="email">
            Email (optional)
            <input id="email" type"text" name="email" value="{{ email }}" />
            <span class="error">{{ error_dict['email'] }}</span>
        </label>
    </p>

    <p>
        <button type="submit" value="signup">Sign Up</button>
    </p>
</form>

{% endblock %}